{% extends 'layout.html' %} {% block body %}
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10">
        {{ echarts_container(tsne) }}
        <script>
            {{ echarts_js_content_wrap(tsne) }}
            window.onresize = function() {
                myChart_{{ tsne.chart_id }}.resize();
            };
        </script>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <br>
        <br>
        <p>t-SNE（TSNE）将数据点的亲和度转换为概率。原始空间中的亲和度用高斯联合概率表示，并且嵌入空间中的亲和度用Student's t-分布表示。将所有数据t-SNE后可视化所有分类。</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <br>
        <br>
        <p>从图中我们能清晰地看出各个分类的数量</p>
    </div>
    <div class="col">
        {{ echarts_container(number_bar) }} {{ echarts_js_content(number_bar) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        {{ echarts_container(tenure_bar) }} {{ echarts_js_content(tenure_bar) }}
    </div>
    <div class="col">
        <br>
        <br>
        <p>Tenure 为顾客使用服务的时间，从图中可以看出第0分类大部分都是使用服务时间较短的，而第三分类使用服务的时间较长。</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <br>
        <br>
        <p>此图显示每月消费和总消费，可以看出主要区分分类的是总消费，说明第3分类的有更高的总消费，那么它的服务使用时长也更长，符合上图得到的信息。</p>
    </div>
    <div class="col">
        {{ echarts_container(charges_scatter) }} {{ echarts_js_content(charges_scatter) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        {{ echarts_container(net_service_radar) }} {{ echarts_js_content(net_service_radar) }}
    </div>
    <div class="col">
        <br>
        <br>
        <p>这是Internet服务的使用比例雷达图，可以看出第三分类的使用这个服务的比例最高。</p>
    </div>
</div>
{% endblock %}